<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body>

<div class="container">
    <div class="row justify-content-centre">
        <div class="row">
            <h1 align="center" th:text="${article.title}">Title</h1>
        </div>

    </div>
    <div class="row col-md justify-content-end">
        <h4 align="right" th:text="${article.dateAdded}">date</h4>
    </div>
    <div class="container-sm">
        <p align="justify" th:text="${article.content}">

        </p>
    </div>
    <div>
        <p th:text="${article.userFirstname} + ' ' + ${article.userLastname}"></p>
    </div>

    <div th:if="${role}=='SALE_USER'">
        <form action="#" th:action="@{/articles/change/{uuid}(uuid=${article.uuid})}" method="get">
            <button type="submit" class="btn btn-primary bnt-sm mb-3">Change article</button>
        </form>
    </div>

    <a class="page-link btn" th:href="@{/articles}">Back</a>

    <div class="col" th:each="comment : ${article.comments}">
        <div>
            <div class="row row-cols-2">
                <div class="col-8 col-md-8">
                    <h6 th:text="${comment.userFirstname} +' '+ ${comment.userLastname}"></h6>
                </div>
                <div class="col-6 col-md-4" th:text="${comment.dateAdded}" align="right"></div>
            </div>
            <p th:text="${comment.content}"></p>
            <div th:if="${role}=='SALE_USER'">
                <form action="#" th:action="@{/comments/delete}" th:method="post">
                    <lable for="deleteComment"></lable>
                    <input type="hidden" name="idCommentForDelete" th:value="${comment.id}" id="deleteComment">
                    <input type="hidden" name="uuidArticle" th:value="${article.uuid}">
                    <button type="submit" class="btn btn-primary bnt-sm mb-3">Delete comment</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>