<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" th:if="${role}=='CUSTOMER_USER'">
                    <a class="nav-link" th:href="@{/reviews/add}">Add reviews</a>
                </li>
                <li class="nav-item" th:if="${role}=='CUSTOMER_USER'">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/items}">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}" tabindex="-1">Orders</a>
                </li>
            </ul>
            <a class="btn btn-outline-success" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Articles</h1>
    <div class="container">
        <div th:if="${role}=='SALE_USER'">
            <a class="btn btn-primary bnt-sm mb-3" th:href="@{/articles/add}">Add article</a>
        </div>
        <div class="row row-cols-3">
            <div class="col" th:each="article : ${page.objects}">
                <article>
                    <h2 th:text="${article.title}"></h2>
                    <div class="row row-cols-2">
                        <div class="col" th:text="${article.userFirstname} +' '+ ${article.userLastname}"></div>
                        <div class="col-6 col-md-4" th:text="${article.dateAdded}"></div>
                    </div>
                    <p th:text="${article.content} + '...'"></p>
                    <a type="page-link" th:href="@{/articles/{uuid}(uuid=${article.uuid})}">Read more</a>

                    <div th:if="${role}=='SALE_USER'">
                        <form action="#" th:action="@{/articles/delete}" th:method="post">
                            <lable for="deleteArticle"></lable>
                            <input type="hidden" name="idArticleForDelete" th:value="${article.id}" id="deleteArticle">
                            <button type="submit" class="btn btn-primary bnt-sm mb-3">Delete article</button>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <ul class="pagination" th:if="${page.numbersOfPage.size() > 0}">
        <li class="page-item" th:each="pageNumber : ${page.numbersOfPage}">
            <a class="page-link" th:href="@{'/articles?page=' + ${pageNumber}}"
               th:text="${pageNumber}" th:value="${pageNumber}"></a>
        </li>
    </ul>
</div>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>