<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body>
<div style="width: 25%; margin-left: auto; margin-right: auto;">
    <form th:action="@{/login}" method="post">
        <fieldset>
            <h1>Please Sign In</h1>

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid email and password.
                </div>
            </div>

            <div class="form-group">
                <input type="text" name="email" id="email" class="form-control input-group-lg"
                       placeholder="email" required="true" autofocus="true"/>
            </div>
            <div class ="form-group">
                <input type="text" name="password" id="password" class="form-control input-group-lg"
                       placeholder="password" required="true" autofocus="true"/>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sing In">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>