<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/articles}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reviews/add}">Add reviews</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/items}">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}" tabindex="-1">Orders</a>
                </li>
            </ul>
            <a class="btn btn-outline-success" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <table>
        <tr>
            <td><h1>Firstname:</h1></td>
            <td><h1 th:text="${user.firstname}"></h1></td>
        </tr>
        <tr>
            <td><h1>Lastname:</h1></td>
            <td><h1 th:text="${user.lastname}"></h1></td>
        </tr>
        <tr>
            <td><h1>Address:</h1></td>
            <td><h1 th:text="${user.address}"></h1></td>
        </tr>
        <tr>
            <td><h1>Telephone:</h1></td>
            <td><h1 th:text="${user.telephone}"></h1></td>
        </tr>
    </table>

    <a th:href="@{/profile/update-user}" type="submit" class="btn btn-primary bnt-sm mb-3">Edit your information</a>

    <form action="#" th:action="@{/profile/change-password}" th:method="post">
        <lable for="changePass"></lable>
        <input type="hidden" name="userIdForChangePass" th:value="${user.id}" id="changePass">
        <button type="submit" class="btn btn-primary bnt-sm mb-3">Change password</button>
    </form>
</div>

</body>
</html>