<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td><h1>Firstname:</h1></td>
            <td><h1 th:text="${user.firstname}"></h1></td>
        </tr>
        <tr>
            <td><h1>Lastname:</h1></td>
            <td><h1 th:text="${user.lastname}"></h1></td>
        </tr>
        <tr>
            <td><h1>Address:</h1></td>
            <td><h1 th:text="${user.address}"></h1></td>
        </tr>
        <tr>
            <td><h1>Telephone:</h1></td>
            <td><h1 th:text="${user.telephone}"></h1></td>
        </tr>
    </table>

    <a th:href="@{/profile/update-user}" type="submit" class="btn btn-primary bnt-sm mb-3">Edit your information</a>

    <form action="#" th:action="@{/profile/change-password}" th:method="post">
        <lable for="changePass"></lable>
        <input type="hidden" name="userIdForChangePass" th:value="${user.id}" id="changePass">
        <button type="submit" class="btn btn-primary bnt-sm mb-3">Change password</button>
    </form>
</div>

</body>
</html>