<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reviews}">Reviews</a>
                </li>
            </ul>
            <a class="btn btn-outline-success" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Users</h1>
    <a class="btn btn-primary bnt-sm mb-3" th:href="@{/users/add}"> Add User</a>
    <form action="#" th:action="@{/users/delete}" th:method="post" id="checkbox_form_delete"></form>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Patronymic</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${page.objects}">
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.patronymic}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <div class="input-group mb-3">
                    <form action="#" th:action="@{'/users/change-role?id=' + ${user.id}}" th:method="post">
                        <label for="role" class="form-control" th:text="${user.roleName}">Role</label>
                        <select id="role" class="form-select" name="roleId">
                            <option th:each="role : ${roles}" th:disabled="${user.roleName}==${role.roleName}"
                                    th:value="${role.id}" th:text="${role.roleName}" name="roleId">Role
                            </option>
                        </select>
                        <button th:disabled="${authUserId}==${user.id}"
                                class="btn btn-primary form-control bnt-sm mb-3"
                                type="submit">Change role
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <input name="selected" type="checkbox" th:value="${user.id}" form="checkbox_form_delete"
                       th:disabled="${authUserId}==${user.id}"/>
            </td>
            <td>
                <form action="#" th:action="@{/users/change-password}" th:method="post">
                    <lable for="changePass"></lable>
                    <input type="hidden" name="userIdForChangePass" th:value="${user.id}" id="changePass">
                    <button type="submit" class="btn btn-primary bnt-sm mb-3">Change password</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination" th:if="${page.numbersOfPage.size() > 0}">
        <li class="page-item" th:each="pageNumber : ${page.numbersOfPage}">
            <a class="page-link" th:href="@{'/users?page=' + ${pageNumber}}"
               th:text="${pageNumber}" th:value="${pageNumber}"></a>
        </li>
    </ul>

    <button type="submit" value="Submit" class="btn btn-primary bnt-sm mb-3" form="checkbox_form_delete">Delete selected
        users
    </button>
</div>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>